root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.{cpp,h}]
indent_style = tab
indent_size = 4

[*.{md,yml,yaml}]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
