language: cpp
compiler:
  - gcc
  - clang
before_install:
  - yes | sudo add-apt-repository ppa:zoogie/sdl2-snapshots
  - sudo apt-get update -qq
  - sudo apt-get install -qq libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev cppcheck
script: cmake . && make
after_script: cppcheck --verbose --enable=all --std=posix --std=c++11 --quiet `git ls-files src/\*.cpp`
notifications:
  irc:
    channels:
      - "irc.freenode.org#flarerpg"
    on_success: always
    on_failure: always
    use_notice: true
    skip_join: true
    template:
      - "%{repository} (%{commit}) : %{message} %{build_url}"
